# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cb39a65fcc8d9436bbd75862e6552891fee4cd975fc7cd007ff5f89e9cefd4a18e49644db71a90032a46d36aa565b43a979c34cc50eaf048456c7caaf7506447

test:
  secret_key_base: 2db1be8d9f215b4f9605bcd9951d7fb5f7215d9d860a5b4590274f5df3f27fa32b1e5173b4f7064921075dcaf79c093a33372188a5e8a6b163ed7ed16065b42d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
