.border-bottom.py-3.mb-5.bg-dark
  .d-flex.align-content-between
    .ml-3
      = icon('fas', 'angle-double-left', class: 'icon text-white')
      =link_to "トップページ", "/",class:"py-2 rounded my-auto text-white"
= render "form", machine: @machine
    
    